{% extends "base.html.twig" %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="container">  
    <h2 class="text-center mt-5">Ma réservation</h2>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Prenom</th>
                    <th>Nom</th>
                    <th>Date de départ</th>
                    <th>Date de fin</th>
                    <th>Prix total</th>
                    <th>Chambre</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.prenom }}</td>
                    <td>{{ commande.nom }}</td>
                    <td>{{ commande.dateArrivee|date('d/m/Y à H:i:s') }}</td>
                    <td>{{ commande.dateDepart|date('d/m/Y à H:i:s') }}</</td>
                    <td>{{ commande.prixTotal / 100 }}€</</td>
                    <td>{{ commande.chambre }}</</td>
                </tr>
        
            </tbody>
        </table>
</div>



        <a href="{{ path('home') }}" style="text-decoration: none;" class="mt-5"> < Retour à l'accueil</a>
{% endblock %}